html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

div{
    height: 100vh;
}

.color-purple {
    color: blueviolet;
    transition: all 100ms ease-in-out;
}

.color-purple:hover {
    color: blue;
}

a {
    color: brown;
    transition: all 100ms ease-in-out;
}

a:visited {
    color: gray;
}

a:hover {
    background: darkcyan;
    color: white;
    text-decoration: none;
}

input:focus {
    box-shadow: 0 0 5px black;
    outline: none;
    border: 1px solid black;
}

.main-content h2 {
    font-style: italic;
}

[paragraph-color] {
    color: green;
}

p:not(.no-blue) {
    background: lightgray;
}

p::first-letter {
    font-size: 40px;
}

p::selection {
    background: rgb(247, 133, 88);
    color: white;
}

ul li:nth-child(even) {
    background-color: lightcoral;
}

ul li:nth-child(odd) {
    background-color: lightskyblue
}

ul li::after {
    content: ' - ';
    color: brown;
}